<header id="main-header">
    <div class="logo">
        <a href="/index.html">D & E</a>
    </div>
    <!-- <nav>
        <ul>
            
            <li><a href="/pages/lista-presentes.html">Lista de Presentes</a></li>
            <li><a href="/pages/o-evento.html">O Evento</a></li>
            <li><a href="/pages/historia-casal.html">História do Casal</a></li>
            <li><a href="/index.html">inicio</a></li>
        </ul>
    </nav> -->

    <!-- <div class="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="cta-button">
        <a href="/pages/lista-presentes.html" class="button">Presentes</a>
    </div> -->
</header>